body {
    background-color: #ffffff;
    text-align: justify;
}

.fullScreenFrame > div {
    display: flex;
    justify-content: center;
}

/* #MainMenu {visibility: hidden;} */
footer {visibility: hidden;}